# Configuration de la connexion
clickhouse_host: '127.0.0.1'
clickhouse_port: 9000
app_port: 6000
database_name: 'mytme'
table_name: 'lesmsg'
api_key: 'zoubida'
tagch: 'http://127.0.0.1:5000/mediasview/api_upd_tmedia'
libretranslate_url: 'http://127.0.0.1:5050'
libretranslate_api_key: ''
